<section class="content-header">
  <h1>
    Welcome!
  </h1>
  <ol class="breadcrumb">
    <li><a ui-sref="manager.home"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a ui-sref="manager.checklist"><i class="fa fa-dashboard"></i> Checklist</a></li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">All Checklists</h3>
        </div>
        <div class="box-body" style="display: block;">
          <div class="table-responsive">
            <table class="table no-margin">
              <thead>
              <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Created</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>

              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
      </div>
    </div>
  </div>
</section>