<section class="content-header">
  <h1>
    Welcome!
  </h1>
  <ol class="breadcrumb">
    <li><a ui-sref="manager.home"><i class="fa fa-dashboard"></i> Home</a></li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
        <p>
          Та́йный покупа́тель (от англ. Mystery Shopper/Secret Shopper, также мнимый покупа́тель) — метод исследования,
          который применяется как в рамках маркетингового исследования, направленного на оценку потребительского опыта,
          полученного клиентом в процессе приобретения товара или услуги, так и с целью решения организационных задач,
          например, измерения уровня соблюдения стандартов обслуживания клиентов сотрудниками в организации и др.

          Для сбора информации используются специально подготовленные люди (тайные покупатели), осуществляющие проверки
          под видом потенциальных/реальных клиентов и детально рассказывающие о результатах проверок. Цели исследования
          влияют на уровень требований к тайным покупателям. В большинстве случаев участие в исследованиях «тайный
          покупатель» не должно быть единственным источником заработка для этих людей.

          Существуют различные термины для обозначения метода mystery shopping на русском языке: тайный покупатель,
          мнимый покупатель, мистери шоппинг, тайный клиент, секретный покупатель, скрытый покупатель, контрольный
          клиент, анонимный покупатель, аудит служб заказчика и др. Наибольшее распространение на российском рынке
          получили термины тайный покупатель, таинственный покупатель, тайный гость.
        </p>
      </div>
    </div>
  </div>
</section>